specVersion: 0.0.1
description: Defi Energy Supply. v0.0.1
repository: https://github.com/b0gdaniy/defi-energy-supply-subgraph
indexerHints:
  prune: auto
schema:
  file: ./{{ schemaFileName }}
dataSources:
{{ #dataSources.Register }}
  - kind: ethereum/contract
    name: Register
    network: {{ network }}
    source:
      address: "{{ dataSources.Register.address }}"
      abi: Register
      startBlock: {{ dataSources.Register.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/register.ts
      entities:
        - Supplier
        - User
      abis:
        - name: Register
          file: ./abis/Register.json
      eventHandlers:
        - event: SupplierRegistered(indexed address,indexed address,indexed uint256,uint256,uint256)
          handler: handleSupplierRegistered
        - event: SupplierUnregistered(indexed address,indexed address,indexed uint256,uint256)
          handler: handleSupplierUnregistered
        - event: UserRegistered(indexed address,indexed address,indexed uint256,uint256)
          handler: handleUserRegistered
        - event: UserUnregistered(indexed address,indexed address,indexed uint256,uint256)
          handler: handleUserUnregistered
{{ /dataSources.Register }}
{{ #dataSources.EnergyOracle }}
  - kind: ethereum/contract
    name: EnergyOracle
    network: {{ network }}
    source:
      address: "{{ dataSources.EnergyOracle.address }}"
      abi: EnergyOracle
      startBlock: {{ dataSources.EnergyOracle.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/energy-oracle.ts
      entities:
        - EnergyConsumption
      abis:
        - name: EnergyOracle
          file: ./abis/EnergyOracle.json
      eventHandlers:
        - event: EnergyConsumptionRecorded(indexed address,indexed address,indexed uint256,uint256,uint256)
          handler: handleEnergyConsumptionRecorded
        - event: EnergyConsumptionSent(indexed address,indexed address,indexed uint256,uint256,uint256)
          handler: handleEnergyConsumptionSent
{{ /dataSources.EnergyOracle }}
